@model Fixture

@{
    ViewData["Title"] = "ResultDetails";
}


<h1>@Html.DisplayNameFor(model => model.MatchReport)</h1>

<div class="container" id="fixtureCon">
    <div class="row" id="fixtureRow">
        <p id="fixtureP">
        <p class="col-sm-3" id="datesText">@Html.DisplayFor(model => model.FullDatesText)&nbsp;@Html.DisplayFor(model => model.FixtureDate.Year)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="col" id="fixtureText">Rathfarnham Rovers&nbsp;&nbsp;@Html.DisplayFor(model => model.FinalScore)&nbsp;&nbsp;@Html.DisplayFor(model => model.Opponent)&nbsp;&nbsp;(@Html.DisplayFor(model => model.HomeOrAway))</p>
        </p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" style="margin-top:1.5rem" >
    <div>
        <p id="matchReportText">
            @Html.DisplayFor(model => model.MatchReport)
        </p>
    </div>
</div>
    
<div>
    <a class="btn btn-dark" asp-controller="Team" asp-action="Index">Back to Team List</a>
</div>
