@model PlayerStat

@{
    ViewData["Title"] = "Create";
}

<h1>Add Stats</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonID" class="control-label">Player</label>
                <select asp-for="PersonID" class="form-control" asp-items="ViewBag.Players"></select>
            </div>
            <div class="form-group">
                <label asp-for="GamesPlayed" class="control-label"></label>
                <input asp-for="GamesPlayed" class="form-control" />
                <span asp-validation-for="GamesPlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assists" class="control-label"></label>
                <input asp-for="Assists" class="form-control" />
                <span asp-validation-for="Assists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goals" class="control-label"></label>
                <input asp-for="Goals" class="form-control" />
                <span asp-validation-for="Goals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CleanSheet" class="control-label"></label>
                <input asp-for="CleanSheet" class="form-control" />
                <span asp-validation-for="CleanSheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedCards" class="control-label"></label>
                <input asp-for="RedCards" class="form-control" />
                <span asp-validation-for="RedCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotmAward" class="control-label"></label>
                <input asp-for="MotmAward" class="form-control" />
                <span asp-validation-for="MotmAward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Team" asp-action="Index">Back to Team List</a>
</div>

