@model Rovers4.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamID" />
            @*<input type="hidden" asp-for="Team" />
        <div class="form-group">
            <label asp-for="Grade" class="control-label"></label>
            <select asp-for="Grade"
                    class="form-control"
                    asp-items="Html.GetEnumSelectList<RoversProject3.Models.Grade>()">
                <option>Select type ...</option>
            </select>
            <span asp-validation-for="Grade" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Club" class="control-label"></label>
                <select asp-for="ClubID" class="form-control" asp-items="ViewBag.ClubID"></select>
            </div>
            @*<div class="form-group">
            <label asp-for="PersonID" class="control-label"></label>
            <input asp-for="PersonID" class="form-control" />
            <span asp-validation-for="PersonID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="fixtureID" class="control-label"></label>
            <input asp-for="fixtureID" class="form-control" />
            <span asp-validation-for="fixtureID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
