@model EmailModel
@{
    ViewData["Title"] = "SendgridEmail";
}

<h2>Send Fixture Notification for @ViewBag.CurrentTeam</h2>
<form asp-action="SendgridEmail" asp-controller="Team" method="post">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SendgridEmail">
                <div asp-controller="Team" method="post" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FixtureType" class="control-label">Fixture Type</label>
                    <select asp-for="FixtureType"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<Rovers4.Models.FixtureType>()">
                        <option>Select type ...</option>
                    </select>
                    <span asp-validation-for="FixtureType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HomeOrAway" class="control-label">Venue</label>
                    <select asp-for="HomeOrAway"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<Rovers4.Models.HomeOrAway>()">
                        <option>Select type ...</option>
                    </select>
                    <span asp-validation-for="HomeOrAway" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="KickOffTime" class="control-label">Kick Off</label>
                    <input asp-for="KickOffTime" class="form-control" />
                    <span asp-validation-for="KickOffTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Opponent" class="control-label">Opponent</label>
                    <input asp-for="Opponent" class="form-control" />
                    <span asp-validation-for="Opponent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetLocation" class="control-label">Meet Location</label>
                    <input asp-for="MeetLocation" class="form-control" />
                    <span asp-validation-for="MeetLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MeetTime" class="control-label">Meet Time</label>
                    <input asp-for="MeetTime" class="form-control" />
                    <span asp-validation-for="MeetTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send Email" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</form>  