@model IEnumerable<Club>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-primary" >
        <h1 class="display-4" style="font-weight:bold">Rathfarnham Rovers Football Club</h1>
    </div>
</div>

<div class="hero-image">
</div>

        @foreach (var item in Model)
        {
            <div class="container" style="width:90%">
                <div id="carouselHome" class="carousel slide" data-ride="carousel">

                    @*Indicators*@
                    <ul class="carousel-indicators">
                        <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselHome" data-slide-to="1"></li>
                        <li data-target="#carouselHome" data-slide-to="2"></li>
                    </ul>

                    @* The slideshow*@
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/@item.ClubImage1" alt="Image1" width="1100" height="733">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/@item.ClubImage2" alt="Image2" width="1100" height="733">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/@item.ClubImage3" alt="Image3" width="1100" height="733">
                        </div>
                    </div>

                    @*Left and right controls*@
                    <a class="carousel-control-prev" href="#carouselHome" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselHome" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
        }
