@model IEnumerable<Club>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
    {
        @*<div class="container" id="carouselHomeContainer" >*@
            <div class="carousel slide" data-ride="carousel">

                @*Indicators*@
                <ul class="carousel-indicators">
                    <li data-target="#cHome" data-slide-to="0" class="active"></li>
                    <li data-target="#cHome" data-slide-to="1"></li>
                    <li data-target="#cHome" data-slide-to="2"></li>
                </ul>

                 @*The slideshow*@
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@item.ClubImage1" class="img-fluid" alt="Image1" >
                    </div>
                    <div class="carousel-item">
                        <img src="@item.ClubImage2" class="img-fluid" alt="Image2" >
                    </div>
                    <div class="carousel-item">
                        <img src="@item.ClubImage3" class="img-fluid" alt="Image3" >
                    </div>
                </div>

                @*Left and right controls*@
                <a class="carousel-control-prev" href="#cHome" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#cHome" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        @*</div>*@
    }

@*Only Show this is not using Background image*@
@*<div class="hero-image">
    </div>*@

<div id="homeCardContainer">
    <div class="row" id="homeCardRow">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text><image href="https://ronansstoragecccount.blob.core.windows.net/uploads/2020-10-22/20201022T184404658.jpg" height="100%" width="100%" /></svg>
                <div class="card-body">
                    <p class="card-text">All the Club Details!!</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" asp-controller="Home" asp-action="ClubDetails">View</a>
                        </div>
                        <small class="text-muted">12 Mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text><image href="https://ronansstoragecccount.blob.core.windows.net/uploads/2020-10-22/20201022T184949649.jpg" height="100%" width="100%" /></svg>
                <div class="card-body">
                    <p class="card-text">Shop the Latest Club Products!!</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" asp-controller="" asp-action="">View</a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text><image href="https://ronansstoragecccount.blob.core.windows.net/uploads/2020-10-22/20201022T184905094.jpg" height="100%" width="100%" /></svg>
                <div class="card-body">
                    <p class="card-text">Check out all our Teams!!</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" asp-controller="Team" asp-action="Index">View</a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>