@model IEnumerable<Club>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-primary" >
        <h1 class="display-4" style="font-weight:bold">Rathfarnham Rovers F.C.</h1>
    </div>
</div>

@*Only Show this is not using Background image*@
@*<div class="hero-image">
</div>*@

<div id="homeCardContainer">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text><image href="https://ronansstoragecccount.blob.core.windows.net/uploads/2020-10-22/20201022T184404658.jpg" height="100%" width="100%"/></svg>
                <div class="card-body">
                    <p class="card-text">All the Club Details</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" asp-controller="Home" asp-action="Contact">View</a>
                        </div>
                        <small class="text-muted">12 Mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text><image href="https://ronansstoragecccount.blob.core.windows.net/uploads/2020-10-22/20201022T184949649.jpg" height="100%" width="100%" /></svg>
                <div class="card-body">
                    <p class="card-text">Shop the Latest Club Products!!</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" asp-controller="" asp-action="">View</a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text><image href="https://ronansstoragecccount.blob.core.windows.net/uploads/2020-10-22/20201022T184905094.jpg" height="100%" width="100%" /></svg>
                <div class="card-body">
                    <p class="card-text">Find out the all the latest Club News!!</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" asp-controller="" asp-action="">View</a>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>